@use 'colors';

.header {
  background: colors.$light;
  border-bottom: 1px solid colors.$dark;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100% - 550px) / 2);
  margin-top: 0;

  nav {
    margin-top: 0;
  }

  a {
    color: colors.$darker;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 0.5rem 0 0;
    padding: 0.25rem 0;
    text-decoration: none;

    &.current-page {
      border-bottom: 2px solid colors.$darker;
    }

    &.brand {
      font-weight: bold;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
